<!DOCTYPE html>
<html>
<head>
  <title>AstroDash</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-banner" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1>Admin Control <small><%= link_to("logout", logout_path, :method => :delete) %></small></h1>
        </div>
    </div>
</nav>
<%= render partial: "shared/nav_banner" %>
<%= yield %>

</body>
</html>