<%= form_for [:admin, @service] do |s| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited
        this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
      <%= s.label :name %><br />
      <%= s.text_field :name %>
  </p>
  <%= s.hidden_field :description %>
  
  <!-- if no content, set to default 'Enter text here', otherwise render content for editing -->
  <% if @service.description.nil? %>
    <%= render partial: 'shared/full_editor', locals: {content: "Enter text here"} %>
  <% else %>
    <%= render partial: 'shared/full_editor', locals: {content: @service.description} %>
  <% end %>
  
  <p>
      <%= s.label :required_info %><br />
      <%= s.text_field :required_info %>
  </p>
  
  <p>
    <%= s.label :price %><br />
    <%= s.text_field :price %>
  </p>
  <p>
    <%= s.submit %>
  </p>
<% end %>

