<p>
  <strong>Title:</strong>
  <%= @service.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @service.description.html_safe %>
</p>

<p>
    <strong>price:</strong>
    <%= @service.price %>
</p>
<%= link_to 'Back', admin_services_path %>
| <%= link_to 'Edit', edit_admin_service_path(@service) %>