<%= form_for [:admin, @content_page] do |c| %>
  <% if @content_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_page.errors.count, "error") %> prohibited
        this content_page from being saved:</h2>
      <ul>
      <% @content_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
      <%= c.label :heading %><br />
      <%= c.text_field :heading %>
  </p>

  <%= c.hidden_field :body %>
  
  <!-- if no content, set to default 'Enter text here', otherwise render content for editing -->
  <% if @content_page.body.nil? %>
    <%= render partial: 'shared/full_editor', locals: {content: "Enter text here"} %>
  <% else %>
    <%= render partial: 'shared/full_editor', locals: {content: @content_page.body} %>
  <% end %>
  
  <p>
    <%= c.label :category %><br />
    <%= c.select :category, options_for_select([["Sign", "signs"], ["House", "houses"], ["Planet", "planets"]], "signs") %>
  </p>
  <p>
    <%= c.submit %>
  </p>
<% end %>

