<%= form_for [:admin, @order] do |o| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited
        this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
      <%= o.label :customer %><br />
      <%= o.text_field :customer %>
  </p>
  <p>
    <%= o.label :email %><br />
    <%= o.email_field :email %>
  </p>
  <%= o.hidden_field :customer_info %>
  
    <!-- if no content, set to default 'Enter text here', otherwise render content for editing -->
  <% if @order.customer_info.nil? %>
    <%= render partial: 'shared/full_editor', locals: {content: "No customer info"} %>
  <% else %>
    <%= render partial: 'shared/full_editor', locals: {content: @order.customer_info} %>
  <% end %>
  
  <%= o.hidden_field :service_id %>
  
  <p>
    <%= o.submit %>
  </p>
  <p><%= debug(@order) %></p>
<% end %>