<%= form_for [:admin, @event] do |e| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
      <%= e.label :name %><br />
      <%= e.text_field :name %>
  </p>
  
  <%= e.hidden_field :description %>
  
  <!-- if no content, set to default 'Enter text here', otherwise render content for editing -->
  <% if @event.description.nil? %>
    <%= render partial: 'shared/full_editor', locals: {content: "Enter text here"} %>
  <% else %>
    <%= render partial: 'shared/full_editor', locals: {content: @event.description} %>
  <% end %>

  <p>
    <%= e.label :date %><br />
    <%= e.date_field :date, :data => {:provide => 'datepicker', :'date-format' => 'dd-mm-yyyy'} %>
  </p>
  <p>
    <%= e.submit %>
  </p>
<% end %>

